<div class="card shadow-sm p-4">


    <h4 class="fw-bold mb-4">Actualizar Usuario</h4>

    <form id="formCrearUsuario">

        <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" id="apellidoPaterno" placeholder="Apellido Paterno" required>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" id="apellidoMaterno" placeholder="Apellido Materno" required>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Telefono" required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Matrícula</label>
                <input type="text" class="form-control" id="matricula" placeholder="Matricula" required>
            </div>


            <div class="col-md-6 mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="contraseni">
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Rol</label>
                <select class="form-select" id="rol" required>
                    <option value="">Seleccione un rol</option>
                </select>
            </div>


        </div>

        <div class="d-flex justify-content-between align-items-center p-3 ">
            <!-- Botón Izquierda Guardar usuario -->
           <button type="submit" class="btn btn-primary">
                Actualizar Usuario
            </button>

            <!-- Botón Derecha regresar -->
            <button type="button" class="btn btn-warning" onclick="cargarVista('views/usuarios.html')" id="btnRegresarUsuarios">
               Regresar 
            </button>
        </div>
    </form>

</div>
<script src="../dashboard.js"></script>