 <div class="container py-4">
                    <header class="pb-3 mb-4 border-bottom">
                        <div class="d-flex align-items-center p-3">
                            <!-- Logo (reemplazar src con la ruta de tu logo) -->
                            <img src="img/logoCarrera.png" alt="Logo" class="img-fluid me-3" style="width: 80px;">

                            <!-- Texto -->
                            <div>
                                <h1 class="h3 mb-0 fw-bold">Mantenimiento de Equipos de Computo</h1>
                                <p class="text-muted mb-0">Administración de Registros de mantenimiento de Equipos de
                                    Computo</p>
                            </div>
                        </div>


                    </header>
                    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                        <div class="container-fluid py-5">
                            <h1 class="display-5 fw-semibold">Sistema de Mantenimiento de Equipos</h1>
                            <p class="col-md-8 fs-4">
                                Bienvenido al panel principal del sistema. Desde este apartado podrás gestionar
                                dispositivos, órdenes de trabajo y dar seguimiento a los mantenimientos
                                realizados a los equipos de cómputo dentro de la institución.
                            </p>
                            <button class="btn btn-primary btn-lg" type="button" onclick="cargarVista('views/ordenes.html')">Ver órdenes de trabajo</button>
                        </div>
                    </div>
                    <div class="row align-items-md-stretch">
                        <div class="col-md-6">
                            <div class="h-100 p-5 text-bg-dark rounded-3">
                                <h2>Gestión de Dispositivos</h2>
                                <p>
                                    Administra los equipos registrados en el sistema. Puedes consultar información
                                    como modelo, marca, tipo de dispositivo y el laboratorio al que pertenece cada
                                    equipo.
                                    Esto permite mantener un control organizado del inventario tecnológico.
                                </p>
                                <button class="btn btn-outline-light" type="button" onclick="cargarVista('views/dispositivos.html')" >Administrar dispositivos</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                                <h2>Nuevo usuario</h2>
                                <p>
                                Da click aquí para crear para entrar entrar al apartado de crear usuarios.
                                </p>
                                <button class="btn btn-outline-secondary" type="button" onclick="cargarVista('views/crear-usuario.html')" >Crear nuevo Usuario</button>
                            </div>
                        </div>
                    </div>
                </div>