<!---Encabezado del modulo -->
<script>
    if (!localStorage.getItem("token")) {
        // Si intentan entrar directo sin token, al login
        window.location.replace("../../login.html");
    }
</script>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="fw-bold">Gestión de Dispositivos</h4>

    <button class="btn btn-primary" id="btn-crear-dispositivos" onclick="cargarVista('views/crear-dispositivos.html')">
        <i class="bi bi-plus-lg me-2"></i> Nuevo Dispositivo
    </button>
</div>
<!---barra de búsqueda-->
<div class="row mb-3">
    <div class="col-md-4">
        <input type="text" id="inputBuscarDispositivo" class="form-control" placeholder="Buscar dispositivos...">
    </div>
</div>
<div class="container mt-4">
    <h2 class="mb-3">Resumen de Prioridad por Laboratorio</h2>
    <div class="row mb-4" id="contenedor-prioridad">
    </div>
</div>
<!---Tabla de usuarios -->
<div class="card admin-card p-3">
    <div class="table-responsive">

        <table class="table align-middle table-hover">

            <thead class="table-light">
                <tr>

                    <th>Nombre Dispositivo</th>
                    <th>Numero Inventario</th>
                    <th>Modelo</th>
                    <th>Laboratorio</th>
                    <th>Tipo Dispositivo</th>
                    <th class="text-center">Rendimiento</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody id="tabla-dispositivos">

            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalEliminarDispositivos" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title"><i class="bi bi-exclamation-triangle-fill me-2"></i>¿Confirmar eliminación?</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-4 text-center">
                <p class="mb-1">Estás a punto de eliminar al Dispositivo:</p>
                <h5 id="nombreDispositivoEliminar" class="fw-bold text-danger"></h5>
                <p class="text-muted small">Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="btnConfirmarBorrado" class="btn btn-danger px-4">Eliminar
                    definitivamente</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPrediccion" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Análisis de: <span id="nombreEquipoModal" class="text-primary fw-bold"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row text-center mb-3">
                    <div class="col-6">
                        <h6>Días para mantenimiento:</h6>
                        <h3 id="diasFallo" class="text-danger">--</h3>
                    </div>
                    <div class="col-6">
                        <h6>Constante de Desgaste (k):</h6>
                        <h3 id="valorK" class="text-primary">--</h3>
                    </div>
                </div>
                <canvas id="graficaPrediccion"></canvas>
            </div>
        </div>
    </div>
</div>