 <div class="container py-4">
                    <header class="pb-3 mb-4 border-bottom">
                        <div class="d-flex align-items-center p-3">
                            <!-- Logo (reemplazar src con la ruta de tu logo) -->
                            <img src="img/logoCarrera.png" alt="Logo" class="img-fluid me-3" style="width: 80px;">

                            <!-- Texto -->
                            <div>
                                <h1 class="h3 mb-0 fw-bold">Mantenimiento de Equipos de Computo</h1>
                                <p class="text-muted mb-0">Administración de Registros de mantenimiento de Equipos de
                                    Computo</p>
                            </div>
                        </div>


                    </header>
                    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                        <div class="container-fluid py-5">
                            <h1 class="display-5 fw-semibold">Sistema de Mantenimiento de Equipos</h1>
                            <p class="col-md-8 fs-4">
                                Bienvenido Técnico, en este apartado podras interactuar con los modelos, marcas y dispositivos, 
                                puedes dar click en el siguiente botón para empezar a ver un poco de nuestro trabajo. 
                            </p>
                            <button class="btn btn-primary btn-lg" type="button">Ver Dispositivos</button>
                        </div>
                    </div>
                    <div class="row align-items-md-stretch">
                        <div class="col-md-6">
                            <div class="h-100 p-5 text-bg-dark rounded-3">
                                <h2>Crear Dispositivos</h2>
                                <p>
                                   Dando click al siguiente apartado te permitira entrar directamente en el apartado crear Dispositivo.
                                </p>
                                <button class="btn btn-outline-light" type="button"><i class="bi bi-plus-lg me-2"></i> Nuevo Dispositivo</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                                <h2>Gestión de Modelos</h2>
                                <p>
                                    Administra los modelos registrados en el sistema. Puedes consultar información
                                    como el modelo y la marca que corresponde. 
                                </p>
                                <button class="btn btn-outline-secondary" type="button">Administrar Modelos</button>
                            </div>
                        </div>
                    </div>
                </div>